* {
  margin: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #212121;
  }
}

html,
body {
  background-color: #f2f2f2;
  font-size: 16px;
  color: #333;
  padding: 0;
  margin: 0;
  font-family: Charter, Helvetica, sans-serif;
}

img {
  padding: 10px;
  border: 2px solid #ccc;
}
p {
  font-weight: bolder;
  font-size: large;
}
ul li {
  list-style-type: none;
  font-weight: bold;
}
h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}
